In [72]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_parquet('../../data/rides/Taxi_Trips_Sampled_Cleaned.parquet')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171339 entries, 0 to 171338
Data columns (total 34 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Trip Start Timestamp  171339 non-null  datetime64[ns]
 1   Trip End Timestamp    171339 non-null  datetime64[ns]
 2   Trip Seconds          171339 non-null  float64
 3   Trip Miles            171339 non-null  float64
 4   Pickup Census Tract   171339 non-null  int64
 5   Dropoff Census Tract  171339 non-null  int64
 6   Fare                  171339 non-null  float64
 7   Tips                  171339 non-null  float64
 8   Tolls                 171339 non-null  float64
 9   Extras                171339 non-null  float64
 10  Trip Total            171339 non-null  float64
 11  Payment Type          171339 non-null  object
 12  Company               171339 non-null  object
 13  hour_start            171339 non-null  int32
 14  4_hour_block_start    171339 non-null  int32
 15  day_start             171339 non-null  int32
 16  week_start            171339 non-null  UInt32
 17  month_start           171339 non-null  int32
 18  hour_end              171339 non-null  int32
 19  4_hour_block_end      171339 non-null  int32
 20  day_end               171339 non-null  int32
 21  week_end              171339 non-null  UInt32
 22  month_end             171339 non-null  int32
 23  h3_07_Pickup          171339 non-null  object
 24  h3_07_Dropoff         171339 non-null  object
 25  h3_08_Pickup          171339 non-null  object
 26  h3_08_Dropoff         171339 non-null  object
 27  h3_09_Pickup          171339 non-null  object
 28  h3_09_Dropoff         171339 non-null  object
 29  Pickup Centroid       171339 non-null  object
 30  Dropoff Centroid      171339 non-null  object
 31  datetime              171339 non-null  datetime64[ns]
 32  temp                  171339 non-null  float64
 33  Precip                171339 non-null  int64
dtypes: UInt32(2), datetime64[ns](3), float64(8), int32(8), int64(3), object(10)
memory usage: 38.2+ MB

In [4]:
df.describe()

,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Fare,Tips,Tolls,Extras,...,week_start,month_start,hour_end,4_hour_block_end,day_end,week_end,month_end,datetime,temp,Precip
count,171339,171339,171339.000000,171339.000000,1.713390e+05,1.713390e+05,171339.000000,171339.000000,171339.000000,171339.000000,...,171339.0,171339.000000,171339.000000,171339.000000,171339.000000,171339.0,171339.000000,171339,171339.000000,171339.000000
mean,2015-06-25 10:46:55.791501056,2015-06-25 11:01:00.375045632,779.412107,3.307421,1.703136e+10,1.703135e+10,11.411371,1.323660,0.000357,0.722346,...,25.967842,6.295403,14.051856,3.137208,15.611933,25.968361,6.295630,2015-06-25 10:47:03.140090880,9.336972,0.018957
min,2015-01-01 00:00:00,2015-01-01 00:00:00,0.000000,0.100000,1.703101e+10,1.703101e+10,0.000000,0.000000,0.000000,0.000000,...,1.0,1.000000,0.000000,0.000000,1.000000,1.0,1.000000,2015-01-01 00:00:00,-23.966000,0.000000
25%,2015-03-28 11:45:00,2015-03-28 11:45:00,360.000000,0.800000,1.703108e+10,1.703108e+10,5.850000,0.000000,0.000000,0.000000,...,13.0,3.000000,10.000000,2.000000,8.000000,13.0,3.000000,2015-03-28 12:00:00,1.801500,0.000000
50%,2015-06-19 04:30:00,2015-06-19 04:45:00,565.000000,1.400000,1.703128e+10,1.703124e+10,7.650000,0.000000,0.000000,0.000000,...,25.0,6.000000,15.000000,3.000000,16.000000,25.0,6.000000,2015-06-19 04:00:00,10.559000,0.000000
75%,2015-09-22 07:30:00,2015-09-22 08:00:00,900.000000,2.900000,1.703183e+10,1.703183e+10,11.250000,2.000000,0.000000,1.000000,...,39.0,9.000000,19.000000,4.000000,23.000000,39.0,9.000000,2015-09-22 08:00:00,17.721609,0.000000
max,2015-12-31 12:00:00,2015-12-31 12:00:00,5126.000000,29.400000,1.703198e+10,1.703198e+10,58.250000,50.000000,50.000000,51.500000,...,53.0,12.000000,23.000000,5.000000,31.000000,53.0,12.000000,2015-12-31 12:00:00,33.100000,1.000000
std,NaN,NaN,670.115217,4.816970,3.412321e+05,3.330212e+05,9.482748,2.172617,0.121572,1.037810,...,14.632981,3.367677,6.285732,1.541644,8.663581,14.632868,3.367632,NaN,11.538467,0.136372

In [5]:
df.columns

Index(['Trip Start Timestamp', 'Trip End Timestamp', 'Trip Seconds',
       'Trip Miles', 'Pickup Census Tract', 'Dropoff Census Tract', 'Fare',
       'Tips', 'Tolls', 'Extras', 'Trip Total', 'Payment Type', 'Company',
       'hour_start', '4_hour_block_start', 'day_start', 'week_start',
       'month_start', 'hour_end', '4_hour_block_end', 'day_end', 'week_end',
       'month_end', 'h3_07_Pickup', 'h3_07_Dropoff', 'h3_08_Pickup',
       'h3_08_Dropoff', 'h3_09_Pickup', 'h3_09_Dropoff', 'Pickup Centroid',
       'Dropoff Centroid', 'datetime', 'temp', 'Precip'],
      dtype='object')

In [6]:
len(df["Pickup Census Tract"].unique())

267

In [7]:
len(df["Pickup Centroid"].unique())

267

In [8]:
len(df["h3_08_Pickup"].unique())

167

In [51]:
timeinterval_length = 1
trips_c = df.copy()

trips_c["datetime_start_floored"] = trips_c["Trip Start Timestamp"].dt.floor(
        f"{timeinterval_length}H"
)

demand_df = trips_c.groupby(["datetime_start_floored", "h3_07_Pickup"]).size().to_frame("demand")
demand_df

                                        demand
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff       3
                       872664c11ffffff       2
                       872664c12ffffff       3
                       872664c13ffffff       4
                       872664c16ffffff       3
...                                        ...
2015-12-31 11:00:00    872664c1bffffff       1
                       872664c1effffff       6
                       872664ca9ffffff       1
2015-12-31 12:00:00    872664c1effffff       1
                       872664cadffffff       1

[49231 rows x 1 columns]

In [52]:
time_related_columns = ["hour_start", "4_hour_block_start", "day_start", "week_start", "month_start"]
wheather_related_columns = ["datetime", "temp", "Precip"]

In [53]:
features_df = trips_c[["datetime_start_floored", "h3_07_Pickup"] + time_related_columns + wheather_related_columns].groupby(["datetime_start_floored", "h3_07_Pickup"]).mean()
features_df

                                        hour_start  4_hour_block_start
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff         0.0                 0.0  \
                       872664c11ffffff         0.0                 0.0
                       872664c12ffffff         0.0                 0.0
                       872664c13ffffff         0.0                 0.0
                       872664c16ffffff         0.0                 0.0
...                                            ...                 ...
2015-12-31 11:00:00    872664c1bffffff        11.0                 2.0
                       872664c1effffff        11.0                 2.0
                       872664ca9ffffff        11.0                 2.0
2015-12-31 12:00:00    872664c1effffff        12.0                 3.0
                       872664cadffffff        12.0                 3.0

                                        day_start  week_start  month_start
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff        1.0         1.0          1.0  \
                       872664c11ffffff        1.0         1.0          1.0
                       872664c12ffffff        1.0         1.0          1.0
                       872664c13ffffff        1.0         1.0          1.0
                       872664c16ffffff        1.0         1.0          1.0
...                                           ...         ...          ...
2015-12-31 11:00:00    872664c1bffffff       31.0        53.0         12.0
                       872664c1effffff       31.0        53.0         12.0
                       872664ca9ffffff       31.0        53.0         12.0
2015-12-31 12:00:00    872664c1effffff       31.0        53.0         12.0
                       872664cadffffff       31.0        53.0         12.0

                                                  datetime      temp  Precip
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff 2015-01-01 01:00:00 -6.731667     0.0
                       872664c11ffffff 2015-01-01 00:00:00 -7.011500     0.0
                       872664c12ffffff 2015-01-01 01:00:00 -6.731667     0.0
                       872664c13ffffff 2015-01-01 00:15:00 -6.941542     0.0
                       872664c16ffffff 2015-01-01 00:00:00 -7.011500     0.0
...                                                    ...       ...     ...
2015-12-31 11:00:00    872664c1bffffff 2015-12-31 12:00:00 -3.890000     0.0
                       872664c1effffff 2015-12-31 11:30:00 -3.514851     0.0
                       872664ca9ffffff 2015-12-31 11:00:00 -3.139703     0.0
2015-12-31 12:00:00    872664c1effffff 2015-12-31 12:00:00 -3.890000     0.0
                       872664cadffffff 2015-12-31 12:00:00 -3.890000     0.0

[49231 rows x 8 columns]

In [56]:
demand_feat_df = features_df.merge(demand_df, left_index=True, right_index=True)
demand_feat_df

                                        hour_start  4_hour_block_start
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff         0.0                 0.0  \
                       872664c11ffffff         0.0                 0.0
                       872664c12ffffff         0.0                 0.0
                       872664c13ffffff         0.0                 0.0
                       872664c16ffffff         0.0                 0.0
...                                            ...                 ...
2015-12-31 11:00:00    872664c1bffffff        11.0                 2.0
                       872664c1effffff        11.0                 2.0
                       872664ca9ffffff        11.0                 2.0
2015-12-31 12:00:00    872664c1effffff        12.0                 3.0
                       872664cadffffff        12.0                 3.0

                                        day_start  week_start  month_start
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff        1.0         1.0          1.0  \
                       872664c11ffffff        1.0         1.0          1.0
                       872664c12ffffff        1.0         1.0          1.0
                       872664c13ffffff        1.0         1.0          1.0
                       872664c16ffffff        1.0         1.0          1.0
...                                           ...         ...          ...
2015-12-31 11:00:00    872664c1bffffff       31.0        53.0         12.0
                       872664c1effffff       31.0        53.0         12.0
                       872664ca9ffffff       31.0        53.0         12.0
2015-12-31 12:00:00    872664c1effffff       31.0        53.0         12.0
                       872664cadffffff       31.0        53.0         12.0

                                                  datetime      temp  Precip
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff 2015-01-01 01:00:00 -6.731667     0.0  \
                       872664c11ffffff 2015-01-01 00:00:00 -7.011500     0.0
                       872664c12ffffff 2015-01-01 01:00:00 -6.731667     0.0
                       872664c13ffffff 2015-01-01 00:15:00 -6.941542     0.0
                       872664c16ffffff 2015-01-01 00:00:00 -7.011500     0.0
...                                                    ...       ...     ...
2015-12-31 11:00:00    872664c1bffffff 2015-12-31 12:00:00 -3.890000     0.0
                       872664c1effffff 2015-12-31 11:30:00 -3.514851     0.0
                       872664ca9ffffff 2015-12-31 11:00:00 -3.139703     0.0
2015-12-31 12:00:00    872664c1effffff 2015-12-31 12:00:00 -3.890000     0.0
                       872664cadffffff 2015-12-31 12:00:00 -3.890000     0.0

                                        demand
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff       3
                       872664c11ffffff       2
                       872664c12ffffff       3
                       872664c13ffffff       4
                       872664c16ffffff       3
...                                        ...
2015-12-31 11:00:00    872664c1bffffff       1
                       872664c1effffff       6
                       872664ca9ffffff       1
2015-12-31 12:00:00    872664c1effffff       1
                       872664cadffffff       1

[49231 rows x 9 columns]

In [70]:
# move to preprocessing???

demand_feat_df["day_of_week"] = demand_feat_df.index.get_level_values(0).dayofweek
demand_feat_df["is_weekday"] = demand_feat_df["day_of_week"] >= 5
demand_feat_df

                                        hour_start  4_hour_block_start
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff         0.0                 0.0  \
                       872664c11ffffff         0.0                 0.0
                       872664c12ffffff         0.0                 0.0
                       872664c13ffffff         0.0                 0.0
                       872664c16ffffff         0.0                 0.0
...                                            ...                 ...
2015-12-31 11:00:00    872664c1bffffff        11.0                 2.0
                       872664c1effffff        11.0                 2.0
                       872664ca9ffffff        11.0                 2.0
2015-12-31 12:00:00    872664c1effffff        12.0                 3.0
                       872664cadffffff        12.0                 3.0

                                        day_start  week_start  month_start
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff        1.0         1.0          1.0  \
                       872664c11ffffff        1.0         1.0          1.0
                       872664c12ffffff        1.0         1.0          1.0
                       872664c13ffffff        1.0         1.0          1.0
                       872664c16ffffff        1.0         1.0          1.0
...                                           ...         ...          ...
2015-12-31 11:00:00    872664c1bffffff       31.0        53.0         12.0
                       872664c1effffff       31.0        53.0         12.0
                       872664ca9ffffff       31.0        53.0         12.0
2015-12-31 12:00:00    872664c1effffff       31.0        53.0         12.0
                       872664cadffffff       31.0        53.0         12.0

                                                  datetime      temp  Precip
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff 2015-01-01 01:00:00 -6.731667     0.0  \
                       872664c11ffffff 2015-01-01 00:00:00 -7.011500     0.0
                       872664c12ffffff 2015-01-01 01:00:00 -6.731667     0.0
                       872664c13ffffff 2015-01-01 00:15:00 -6.941542     0.0
                       872664c16ffffff 2015-01-01 00:00:00 -7.011500     0.0
...                                                    ...       ...     ...
2015-12-31 11:00:00    872664c1bffffff 2015-12-31 12:00:00 -3.890000     0.0
                       872664c1effffff 2015-12-31 11:30:00 -3.514851     0.0
                       872664ca9ffffff 2015-12-31 11:00:00 -3.139703     0.0
2015-12-31 12:00:00    872664c1effffff 2015-12-31 12:00:00 -3.890000     0.0
                       872664cadffffff 2015-12-31 12:00:00 -3.890000     0.0

                                        demand  day_of_week  is_weekday
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff       3            3       False
                       872664c11ffffff       2            3       False
                       872664c12ffffff       3            3       False
                       872664c13ffffff       4            3       False
                       872664c16ffffff       3            3       False
...                                        ...          ...         ...
2015-12-31 11:00:00    872664c1bffffff       1            3       False
                       872664c1effffff       6            3       False
                       872664ca9ffffff       1            3       False
2015-12-31 12:00:00    872664c1effffff       1            3       False
                       872664cadffffff       1            3       False

[49231 rows x 11 columns]

In [79]:
demand_feat_df["datetime_start_floored"] = demand_feat_df.index.get_level_values(0)
demand_feat_df["h3_07_Pickup"] = demand_feat_df.index.get_level_values(1)
demand_feat_df

                                        hour_start  4_hour_block_start
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff         0.0                 0.0  \
                       872664c11ffffff         0.0                 0.0
                       872664c12ffffff         0.0                 0.0
                       872664c13ffffff         0.0                 0.0
                       872664c16ffffff         0.0                 0.0
...                                            ...                 ...
2015-12-31 11:00:00    872664c1bffffff        11.0                 2.0
                       872664c1effffff        11.0                 2.0
                       872664ca9ffffff        11.0                 2.0
2015-12-31 12:00:00    872664c1effffff        12.0                 3.0
                       872664cadffffff        12.0                 3.0

                                        day_start  week_start  month_start
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff        1.0         1.0          1.0  \
                       872664c11ffffff        1.0         1.0          1.0
                       872664c12ffffff        1.0         1.0          1.0
                       872664c13ffffff        1.0         1.0          1.0
                       872664c16ffffff        1.0         1.0          1.0
...                                           ...         ...          ...
2015-12-31 11:00:00    872664c1bffffff       31.0        53.0         12.0
                       872664c1effffff       31.0        53.0         12.0
                       872664ca9ffffff       31.0        53.0         12.0
2015-12-31 12:00:00    872664c1effffff       31.0        53.0         12.0
                       872664cadffffff       31.0        53.0         12.0

                                                  datetime      temp  Precip
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff 2015-01-01 01:00:00 -6.731667     0.0  \
                       872664c11ffffff 2015-01-01 00:00:00 -7.011500     0.0
                       872664c12ffffff 2015-01-01 01:00:00 -6.731667     0.0
                       872664c13ffffff 2015-01-01 00:15:00 -6.941542     0.0
                       872664c16ffffff 2015-01-01 00:00:00 -7.011500     0.0
...                                                    ...       ...     ...
2015-12-31 11:00:00    872664c1bffffff 2015-12-31 12:00:00 -3.890000     0.0
                       872664c1effffff 2015-12-31 11:30:00 -3.514851     0.0
                       872664ca9ffffff 2015-12-31 11:00:00 -3.139703     0.0
2015-12-31 12:00:00    872664c1effffff 2015-12-31 12:00:00 -3.890000     0.0
                       872664cadffffff 2015-12-31 12:00:00 -3.890000     0.0

                                        demand  day_of_week  is_weekday
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff       3            3       False  \
                       872664c11ffffff       2            3       False
                       872664c12ffffff       3            3       False
                       872664c13ffffff       4            3       False
                       872664c16ffffff       3            3       False
...                                        ...          ...         ...
2015-12-31 11:00:00    872664c1bffffff       1            3       False
                       872664c1effffff       6            3       False
                       872664ca9ffffff       1            3       False
2015-12-31 12:00:00    872664c1effffff       1            3       False
                       872664cadffffff       1            3       False

                                       datetime_start_floored     h3_07_Pickup
datetime_start_floored h3_07_Pickup
2015-01-01 00:00:00    872664c10ffffff    2015-01-01 00:00:00  872664c10ffffff
                       872664c11ffffff    2015-01-01 00:00:00  872664c11ffffff
                       872664c12ffffff    2015-01-01 00:00:00  872664c12ffffff
                       872664c13ffffff    2015-01-01 00:00:00  872664c13ffffff
                       872664c16ffffff    2015-01-01 00:00:00  872664c16ffffff
...                                                       ...              ...
2015-12-31 11:00:00    872664c1bffffff    2015-12-31 11:00:00  872664c1bffffff
                       872664c1effffff    2015-12-31 11:00:00  872664c1effffff
                       872664ca9ffffff    2015-12-31 11:00:00  872664ca9ffffff
2015-12-31 12:00:00    872664c1effffff    2015-12-31 12:00:00  872664c1effffff
                       872664cadffffff    2015-12-31 12:00:00  872664cadffffff

[49231 rows x 13 columns]

In [82]:
scaler = StandardScaler()
scaled_df = pd.DataFrame()
scaled_df[[ 'hour_start' ,"4_hour_block_start", "day_start", "week_start", "month_start", "day_of_week", "is_weekday", "temp", "Precip", "demand"]] = scaler.fit_transform(demand_feat_df[[ 'hour_start' ,"4_hour_block_start", "day_start", "week_start", "month_start", "day_of_week", "is_weekday", "temp", "Precip", "demand"]])
scaled_df

,hour_start,4_hour_block_start,day_start,week_start,month_start,day_of_week,is_weekday,temp,Precip,demand
0,-1.987019,-1.800036,-1.677834,-1.704113,-1.575115,-0.105023,-0.6953,-1.402264,-0.138869,-0.115464
1,-1.987019,-1.800036,-1.677834,-1.704113,-1.575115,-0.105023,-0.6953,-1.426662,-0.138869,-0.355860
2,-1.987019,-1.800036,-1.677834,-1.704113,-1.575115,-0.105023,-0.6953,-1.402264,-0.138869,-0.115464
3,-1.987019,-1.800036,-1.677834,-1.704113,-1.575115,-0.105023,-0.6953,-1.420562,-0.138869,0.124932
4,-1.987019,-1.800036,-1.677834,-1.704113,-1.575115,-0.105023,-0.6953,-1.426662,-0.138869,-0.115464
...,...,...,...,...,...,...,...,...,...,...
49226,-0.345404,-0.580651,1.767271,1.847726,1.696905,-0.105023,-0.6953,-1.154511,-0.138869,-0.596256
49227,-0.345404,-0.580651,1.767271,1.847726,1.696905,-0.105023,-0.6953,-1.121803,-0.138869,0.605724
49228,-0.345404,-0.580651,1.767271,1.847726,1.696905,-0.105023,-0.6953,-1.089096,-0.138869,-0.596256
49229,-0.196166,0.029041,1.767271,1.847726,1.696905,-0.105023,-0.6953,-1.154511,-0.138869,-0.596256
49230,-0.196166,0.029041,1.767271,1.847726,1.696905,-0.105023,-0.6953,-1.154511,-0.138869,-0.596256

In [75]:
scaled_df.shape

(49231, 10)