In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/temperature.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  object
 1   Vancouver          44458 non-null  float64
 2   Portland           45252 non-null  float64
 3   San Francisco      44460 non-null  float64
 4   Seattle            45250 non-null  float64
 5   Los Angeles        45250 non-null  float64
 6   San Diego          45252 non-null  float64
 7   Las Vegas          45252 non-null  float64
 8   Phoenix            45250 non-null  float64
 9   Albuquerque        45252 non-null  float64
 10  Denver             45252 non-null  float64
 11  San Antonio        45252 non-null  float64
 12  Dallas             45249 non-null  float64
 13  Houston            45250 non-null  float64
 14  Kansas City        45252 non-null  float64
 15  Minneapolis        45240 non-null  float64
 16  Saint Louis        45252 non-null  float64
 17  Chicago            45250 non-null  float64
 18  Nashville          45251 non-null  float64
 19  Indianapolis       45246 non-null  float64
 20  Atlanta            45247 non-null  float64
 21  Detroit            45252 non-null  float64
 22  Jacksonville       45252 non-null  float64
 23  Charlotte          45250 non-null  float64
 24  Miami              44448 non-null  float64
 25  Pittsburgh         45250 non-null  float64
 26  Toronto            45252 non-null  float64
 27  Philadelphia       45250 non-null  float64
 28  New York           44460 non-null  float64
 29  Montreal           45250 non-null  float64
 30  Boston             45250 non-null  float64
 31  Beersheba          44455 non-null  float64
 32  Tel Aviv District  44460 non-null  float64
 33  Eilat              44461 non-null  float64
 34  Haifa              44455 non-null  float64
 35  Nahariyya          44456 non-null  float64
 36  Jerusalem          44460 non-null  float64
dtypes: float64(36), object(1)
memory usage: 12.8+ MB

In [4]:
keep = ['datetime', 'Chicago']
df = df[keep]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  45253 non-null  object
 1   Chicago   45250 non-null  float64
dtypes: float64(1), object(1)
memory usage: 707.2+ KB

In [6]:
df['datetime'] = pd.to_datetime(df['datetime'])
df = df[df['datetime'].dt.year == 2015].copy()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8760 entries, 19716 to 28475
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  8760 non-null   datetime64[ns]
 1   Chicago   8760 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 205.3 KB

In [8]:
#Convert to Celsius
df['Chicago'] = df['Chicago'] - 273.15

In [9]:
df = df.rename(columns={'Chicago': 'temp'})

In [10]:
df.to_parquet('../../data/temperature_cleaned.parquet')

In [11]:
df

                 datetime      temp
19716 2015-01-01 00:00:00 -7.011500
19717 2015-01-01 01:00:00 -6.731667
19718 2015-01-01 02:00:00 -6.213333
19719 2015-01-01 03:00:00 -6.614500
19720 2015-01-01 04:00:00 -5.789667
...                   ...       ...
28471 2015-12-31 19:00:00 -2.640000
28472 2015-12-31 20:00:00 -2.614888
28473 2015-12-31 21:00:00 -2.620000
28474 2015-12-31 22:00:00 -3.210000
28475 2015-12-31 23:00:00 -3.202256

[8760 rows x 2 columns]